{% extends "base.html" %}

{% block content %}
    
    <form action="/recipes" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="search" type="search" name="q" value="{{ request.args.get('q') or '' }}"/>
        <input type="submit" value="Search"/>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
                <tr>
                    <td><a href="/recipes/{{ recipe.id }}">{{ recipe.name }}</a></td>
                    <td>{{ recipe.description }}</td>
                    <td><a href="/recipes/{{ recipe.id }}/edit">Edit</a>
                    <a href="/recipes/{{ recipe.id }}/view">View</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>
        <a href="/recipes/new">Add New Recipe</a>
    </p>
{% endblock %}