{% extends "base.html" %}

{% block content %}
<form action="/recipes/new" method="post">
    <fieldset>
        <legend>Recipe Values</legend>
        <p>
            <label for="name">Name</label>
            <input name="name" id="name" type="text" placeholder="Recipe Name" value="{{ recipe.name or '' }}">
            <span class="error">{{ recipe.errors['name'] }}</span>
        </p>
        <p>
            <label for="description">Description</label>
            <input name="description" id="description" type="text" placeholder="Recipe Description" value="{{ recipe.description or '' }}">
            <span class="error">{{ recipe.errors['description'] }}</span>
        </p>
        <!-- TODO - Make below <p> work for multiple ingredients -->
        <p>
            <label for="ingredients">Ingredients</label>
            <input name="ingredients" id="ingredients" type="text" placeholder="Recipe Ingredients" value="{{ recipe.ingredients or '' }}">
            <span class="error">{{ recipe.errors['ingredients'] }}</span>
        </p>
        <!-- TODO - Make below <p> work for multiple instructions -->
        <p>
            <label for="instructions">Instructions</label>
            <input name="instructions" id="instructions" type="text" placeholder="Recipe Instructions" value="{{ recipe.instructions or '' }}">
            <span class="error">{{ recipe.errors['Instructions'] }}</span>
        </p>
        <button>Save</button>
    </fieldset>
</form>

<p>
    <a href="/recipes">Back To Recipes</a>
</p>
{% endblock %}